.rodape {
    background: var(--cinza-fundo);
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.rodape__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--preto-destaque);
}

.rodape__texto {
    font-size: 20px;
    color: var(--cinza);
}

.input__email {
    width: 360px;
    padding: 12px 14px 12px 16px;
    box-sizing: border-box;
    border: solid 1px var(--cinza-stroke);
    border-radius: 8px;
    color: var(--cinza);
    margin: 1em 16px 0.5em 0px;
}

.rodape__copyrigth {
    color: var(--cinza-claro);
}