.metricas__container {
    display: flex;
    justify-content: space-between;
    max-width: 1216px;
    margin: auto;
}

.metricas {
    margin: 0 1em;
    width: 18%;
    
}

.metricas__titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho);
}

.metricas__subtitulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--preto-destaque);
    padding: 1.5em 0 1em 0;
}

.metricas__texto {
    color: var(--cinza);
    width: 280px;
}